.btn-register {
    padding: 9px 0
}

.center-buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.signin_form .center-buttons .btn{
    flex-basis: 48%;
}

.signin_form {
    padding:10px;
}

.headtxt {
    font-size:20px;
    font-weight: bold;
}