@import 'variables.scss';

.alertError {
  width: 100%;
  margin: 0 0 1em;
  padding: 0.8em 1em;
  display: block;
  box-sizing: border-box;
  border-radius: 1px;
  font-size: 13px;
  line-height: 13px;
  text-align: left;
  color: var(--errorColor);
  background-color: rgba(231, 76, 60, 0.1);
}
